@model IEnumerable<WebApplication1.Models.Components>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.WP)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceFinishing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        
        
        
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.WP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfaceFinishing)
                </td>
                <td>

                    @item.ReceiveDate.Date.ToShortDateString()

                </td>
                <td>
                    @item.DeliveryDate.Date.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

        
    </tbody>
</table>

